.wrapper {
  height: 100%;
	overflow: hidden;
  background-image: url("../images/bg/a-stack-of-books-in-the-library-G3RXNA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-wrapper {
  margin: 150px 0px;
  height: 500px;
  background-color: #dde8fa;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);}

.login-wrapper .login-icon {
	padding-top: 30px;
  font-size: 67px;
  display: flex;
  justify-content: center;
}

.login-icon .fas {
	color: #fff;
  height: 105px;
  width: 105px;
  padding: 10px;
  border-radius: 50%;
  background-color: coral;
	box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.title {
	display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}

form {
	margin: 30px 30px 20px;
}

input{
	background-color: #f5f5f5;
}
.submit {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.create-account {
	display: flex;
	justify-content: flex-end;
	font-size: 15px;
	margin-right: 20px;
}

.create-account a {
	padding-top: 10px;
	text-decoration: none;
}