html,
body {
  height: 100%;
  font-family: sans-serif;
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 1.625;
  color: #6c757d;
  background-color: rgb(245, 247, 251);
  overflow-x: hidden;
}

.admin-container {
  height: 100%;
}

.admin-layout {
  height: 100%;
}

.sidebar-wrapper {
  background: #293042;
}

.sidebar {
  height: auto;
  position: sticky;
  top: 0;
  color: #fff;
  margin-left: 0;
  padding-left: 15px;
  transition: 1s all;
}

.sidebar-toggle {
  display: none;
  transition: 1s all;
}

.sidebar .sidebar-header {
  font-weight: 500;
  font-size: 23px;
  padding: 1.15rem 1.5rem;
  display: block;
  text-align: center;
}

hr {
  border-top: 1px solid #fff;
}

.sidebar .sidebar-header .fa-book {
  font-size: 27px;
  color: #78a6f0;
}

.sidebar .item {
  display: flex;
  font-size: 15px;
  padding: 0 0 0 40px;
  height: 50px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
}

.item-tab-active {
  background-color: #78a6f0;
}

.sidebar .item:hover {
  background-color: #78a6f0;
  color: #fff;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 0 0 / 14%);
}

.item .item_link {
  text-decoration: none;
  color: #e9ecef;
}

.item .item_link .fas {
  font-size: 20px;
  padding-right: 5px;
}

.nav {
  background: #fff;
  border-bottom: 0;
  box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
  height: 55px;
}

.nav .nav-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.nav .nav-icon-list .fas {
  font-size: 25px;
}

.nav .nav-icon-list:hover .fas {
  color: #3f80ea;
}

.content {
  margin-top: 70px;
  height: auto;
}

.quantity-item {
  padding: 0 30px;
}

.quantity-item .quantity-item_child {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
  height: 150px;
  border-radius: 8px;
}

.quantity-item_child .quanty-item_icon {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(244, 236, 1, 0.5777661406359419) 0%,
    rgba(252, 184, 89, 0.44611347957151615) 0%,
    rgba(238, 152, 10, 0.8802871490393032) 0%,
    rgba(255, 200, 0, 0.7738445720084909) 77%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
  height: 90px;
  width: 90px;
  border-radius: 5px;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 0 0 / 14%);
  left: 17px;
  top: -13px;
}

.quantity-item_child .category-icon {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(244, 236, 1, 0.5777661406359419) 0%,
    rgba(252, 184, 89, 0.44611347957151615) 0%,
    rgba(14, 163, 10, 0.9671218829328606) 0%,
    rgba(15, 200, 12, 0.6533963927367823) 77%
  );
}

.quantity-item_child .order-icon {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(244, 236, 1, 0.5777661406359419) 0%,
    rgba(252, 184, 89, 0.44611347957151615) 0%,
    rgba(242, 64, 1, 0.9671218829328606) 0%,
    rgba(230, 113, 42, 0.6758053563222164) 77%
  );
}

.quantity-item_child .user-icon {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(244, 236, 1, 0.5777661406359419) 0%,
    rgba(252, 184, 89, 0.44611347957151615) 0%,
    rgba(1, 136, 242, 0.9671218829328606) 0%,
    rgba(42, 144, 230, 0.6758053563222164) 77%
  );
}

.quantity-item_child .book-title {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 15px 27px 0 0;
  /* font-size: 23px; */
  /* font-weight: 600; */
  color: #999;
  font-size: 17px;
}

.quantity-book {
  font-size: 23px;
  font-weight: 500;
  color: #000;
}

.more-information {
  cursor: pointer;
  font-size: 15px;
}

.more-information a {
  text-decoration: none;
  color: #999;
  padding: 5px;
}

.sell-total {
  margin-top: 75px;
  position: relative;
}

.sell-total .sell-item,
.total-item {
  padding: 0 30px;
}

.sell-item .sell-item-detail,
.total-item-detail {
  position: relative;
  height: 400px;
  box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
  background-color: #fff;
  border-radius: 5px;
}

.sell-item-detail .sell-title,
.total-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 600;
  width: 90%;
  height: 54px;
  top: -25px;
  left: 5%;
  border-radius: 5px;
  color: #ececec;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 0 0 / 14%);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(244, 236, 1, 0.5777661406359419) 0%,
    rgba(252, 184, 89, 0.44611347957151615) 0%,
    rgba(150, 1, 242, 0.9671218829328606) 0%,
    rgba(174, 42, 230, 0.9839286056219363) 77%
  );
}

.total-title {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(244, 236, 1, 0.5777661406359419) 0%,
    rgba(252, 184, 89, 0.44611347957151615) 0%,
    rgba(242, 142, 1, 0.9671218829328606) 0%,
    rgba(230, 199, 42, 0.8550770650056898) 77%
  );
}

.top-seller-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  padding: 30px 15px 0px 30px;
}

.start {
  padding-top: 70px;
}
.progress {
  width: 70%;
  /* background-color: #fff; */
}

.book-name {
  width: 170px;
  margin-right: 10px;
}

.customer {
  width: 70px;
  margin-left: 10px;
}

.chart {
  padding: 60px 30px;
}

/* .page-item {
  cursor: pointer;
} */
